<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/mathsQuiz.js') }}?v={{ range(1, 99999)|random }}"></script>
</head>
<body>
    <nav>
        <p style="padding-left: 5px; text-shadow: 2px 2px 5px darkgrey;">
            Your History
        </p>
        <button onclick="window.location.href='/'" class="clean-button vertical-centre"><img src="{{ url_for('static', filename='images/GoBack.png') }}" alt="Go Back" style="width: 40px; height: 40px; padding-right: 5px;"></button>
    </nav>
    <section>
        <div class="scroll-container">
            {% for question in history %}
                <div class="history">
                    <div>
                        <p style="padding-left: 5px;">{{ question.question }}</p>
                        <p style="padding-left: 5px;">Your Answer: {{ question.userAnswer }}</p>
                    </div>
                    {% if question.answer == question.userAnswer %}
                        <p style="padding-right: 15px; font-size: 35px; color: green">{{ question.answer }}</p>
                    {% else %}
                        <p style="padding-right: 15px; font-size: 35px; color: red">{{ question.answer }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </section>

</body>
</html>
