<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Level Selector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/mathsQuiz.js') }}"></script>
</head>
<body>
    <section>

        {% if questionType == 'addition' %}
            <img src="{{ url_for('static', filename='images/Addition.png') }}" alt="Addition" style="width: 100px; height: 100px">
            <h1>Addition</h1>
        {%  elif questionType == 'subtraction' %}
            <img src="{{ url_for('static', filename='images/Subtraction.png') }}" alt="Subtraction" style="width: 100px; height: 100px">
            <h1>Subtraction</h1>
        {%  elif questionType == 'multiplication' %}
            <img src="{{ url_for('static', filename='images/Multiplication.png') }}" alt="Multiplication" style="width: 100px; height: 100px">
            <h1>Multiplication</h1>
        {%  elif questionType == 'division' %}
            <img src="{{ url_for('static', filename='images/Division.png') }}" alt="Division" style="width: 100px; height: 100px">
            <h1>Division</h1>
        {%  elif questionType == 'mix' %}
            <img src="{{ url_for('static', filename='images/Mix.png') }}" alt="Mix" style="width: 100px; height: 100px">
            <h1>Mix Mode</h1>
        {% endif %}


        <button onclick="playThenNavigate('click', 'question?question-type={{ questionType }}&level=0&state=new', this)" class="homeButtons horizontal-centre vertical-centre" style="background-color: var(--multiplicationColor); border-color: var(--multiplicationColor2);">
            <p style="font-size: 38px; padding-top: 5px;">Level 0</p>
        </button>
        <button onclick="playThenNavigate('click', 'question?question-type={{ questionType }}&level=1&state=new', this)" class="homeButtons horizontal-centre vertical-centre" style="background-color: var(--additionColor); border-color: var(--additionColor2);">
            <p style="font-size: 38px; padding-top: 5px;">Level 1</p>
        </button>
        <button onclick="playThenNavigate('click', 'question?question-type={{ questionType }}&level=2&state=new', this)" class="homeButtons horizontal-centre vertical-centre" style="background-color: var(--subtractionColor); border-color: var(--subtractionColor2);">
            <p style="font-size: 38px; padding-top: 5px;">Level 2</p>
        </button>

        <br>
        <button onclick="playThenNavigate('click', '/', this)">Go Back</button>
    </section>

</body>
</html>
